/* Your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f4e6c4; /* Light yellow background */
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ffb6b9; /* Light coral background */
    padding: 20px;
}
section {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: #fff;
    font-size: 36px;
    font-family: 'Pacifico', cursive; /* Use a cute and attractive font */
}

p {
    color: #555; /* Dark gray text color */
    font-size: 20px;
}

nav {
    background-color: #f6b89c; /* Peach background */
    padding: 20px;
}

.food-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 20px;
    text-align: center;
    background-color: #ffecb8; /* Light yellow background for dish cards */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 5px 5px 10px #ddd; /* Soft shadow */
    transition: transform 0.2s;
    flex: 0 0 calc(33.33% - 40px); /* Set a fixed width for each item */
}



img {
    border: 5px solid #ffcc99;
    border-radius: 15px;
    width: 300px; /* Change the width to 300px */
    height: 250px; /* Change the height to 250px */
    box-sizing: border-box; /* Include border in the size calculations */
}

p {
    font-size: 20px;
}

ul {
    padding: 0;
}
navigation {
    text-align: center;
}

/* Style the buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: burlywood;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    border-radius: 20px; /* Rounded corners */
}

.button:hover {
    background-color: burlywood;
}

